body { 
    margin: 0;
    padding:0;
    width: 100vw;
    height: 98vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}

span, p, input {
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
}

#command {
    border: none;
    background-color: transparent;
    height: fit-content;
    width: 90%;
    color: lime;
}

input:focus {
    outline: none;
}

#output-container > p {
    padding: 0;
    margin: 0;
}

#input-container {
    display: flex;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    justify-content: flex-start;
}

#prompt {
    height: fit-content;
}